blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 0.5em;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

blockquote cite {
    display: block;
    margin-top: 0.2em;
    font-size: 0.9em;
}

blockquote cite a {
    color: #0000EE;
}

.Introduction {
    font-size: .5em;
}

.Introduction-speaker {
    float: left;
    margin-right: 1em;
}
